   //* contenu section profil et porfolio
   @mixin bloc-text($p-width: 100%) {
       width: 100%;
       height: auto;
       display: flex;
       align-items: center;
       flex-direction: column;
       gap: 60px;
       margin: 2em 0 6em 0;
       position: relative;

       @media screen and (max-width: 767px) {
           width: 90%;
           margin-top: 1em;

       }

       @media screen and (min-width: 768px) and (max-width: 1280px) {
           margin-top: 2em;
           gap: 60px;
           width: 90%;
       }

       p {
           width: $p-width;
           color: var(--color-black-grey);
           text-align: justify;

           @media screen and (max-width: 767px),
           screen and (min-width: 768px) and (max-width: 1280px) {
               width: 100%;
           }
            @media screen and (min-width: 1600px) and (min-height: 1207px){
                text-align: center;
            }

       }

       .sub-subtitle {
           text-align: center;
           font-size: 40px;
           font-size: 30px;
           font-family: 'caveat', monospace;
           font-weight: 700;

           >span {
               color: var(--or);
               font-family: 'caveat', monospace;
               font-size: 40px;

               @media screen and (max-width: 768px) {
                   font-size: 30px;
               }
           }

           @media screen and (max-width: 768px) {

               font-size: 30px;
           }
       }
   }

   //* bloc titre */
   @mixin blocTitre ($width: 250px, $height: 250px) {
       width: $width;
       height: $height;
       display: grid;
       place-items: center;
       background-color: var(--color-black);
       color: var(--main-bg-color);
       margin-left: 0.5em;
   }


   //* boutons */
   @mixin btn-principal {
       display: flex;
       justify-content: center;
       align-items: center;
       box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.02);
       text-decoration: none;
       transition: all 0.8s;
       width: 300px;
       height: 60px;
       padding: 12px 24px;
       background-color: var(--or);
       border: 1px solid var(--or);
       color: var(--main-bg-color);
       border-radius: 8px;
       cursor: pointer;

       font: {
           size: 20px;
           family: 'jetBrains', monospace;
           weight: normal;
       }

       &:hover {
           
       background-color: var(--color-black);
       border: 1px solid var(--main-bg-color);
           transition: all 0.5s;
           opacity: 1;
       }

       @media screen and (max-width: 767px) {
           padding: 8px 16px;
           width: 200px;
           font-size: 14px;
       }
   }

   @mixin btn-secondaire ($width: 300px){
       display: flex;
       justify-content: center;
       align-items: center;
       box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.02);
       text-decoration: none;
       transition: background-color 0.8s;
       width: $width;
       height: 60px;
       padding: 12px 24px;
       color: var(--color-black);
       background-color: var(--main-bg-color);
       border: 1px solid var(--color-black);
       border-radius: 8px;
       cursor: pointer;

       font: {
           size: 20px;
           family: 'jetBrains', monospace;
           weight: normal;
       }

       &:hover {
           background-color: var(--color-black);
           color: var(--main-bg-color);
           border: none;
           transition: all 0.5s;
           opacity: 1;
       }

       @media screen and (max-width: 767px) {
           padding: 8px 16px;
           width: 276px;
       }
   }

   //* flexbox centrer bloc */
   @mixin flex-center {
       display: flex;
       justify-content: center;
       align-items: center;
   }



   //* ANIMATIONS */
   /* défilement texte */
   @mixin text-animation {
       animation: text-animation 6s infinite;

       @keyframes text-animation {
           0% {
               margin-top: 0;
           }

           20% {
               margin-top: 0;
           }

           40% {
               margin-top: -5.9rem;
           }

           60% {
               margin-top: -6rem;
           }

           80% {
               margin-top: 0;
           }

           100% {
               margin-top: 0;
           }
       }
   }

   /* animation menu mobile */
   @mixin navOpen {
       animation: navOpen 0.7s ease-in-out 0s forwards;
       -webkit-animation: navOpen 0.7s ease-in-out 0s forwards;

       @keyframes navOpen {
           0% {
               transform: translateX(100%);
               -webkit-transform: translateX(100%);
               -moz-transform: translateX(100%);
               -ms-transform: translateX(100%);
               -o-transform: translateX(100%);
           }

           100% {
               transform: translateX(0);
           }
       }
   }

   /* animation bloc de titre */
   @mixin bloc-titre-anim {
       animation: shadow-pop-br 0.5s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;

       @keyframes shadow-pop-br {
           0% {
               box-shadow: 0 0 #CCA25D, 0 0 #CCA25D, 0 0 #CCA25D, 0 0 #CCA25D, 0 0 #CCA25D, 0 0 #CCA25D, 0 0 #CCA25D, 0 0 #CCA25D;
               transform: translateX(0) translateY(0);
           }

           100% {
               box-shadow: 1px 1px #CCA25D, 2px 2px #CCA25D, 3px 3px #CCA25D, 4px 4px #CCA25D, 5px 5px #CCA25D, 6px 6px #CCA25D;
               transform: translateX(-8px) translateY(-8px);
           }
       }
   }



   /* animation picto portfolio */
   @mixin animatePicto {
       opacity: 0;
       transform-origin: center bottom;
       transform: scale(0.6);
       animation: animatePicto 0.7s cubic-bezier(0.12, 0, 0.39, 0) 1 normal forwards;
       transition: opacity 0.5s ease, transform 0.5s ease;

       @keyframes animatePicto {
           0% {
               opacity: 0;
               transform: scale(0.6);
           }

           100% {
               opacity: 1;
               transform: scale(1);
           }
       }
   }

   /*  animation ouverture et fermeture modale de contact */
   @mixin slit-in-vertical {
       animation: slit-in-vertical 0.5s ease-in-out forwards;
       @keyframes slit-in-vertical {
           0% {
               transform: translateZ(-800px) rotateY(90deg);
               opacity: 0;
           }
           50% {
               transform: translateZ(-160px) rotateY(87deg);
               opacity: 1;
           }
           100% {
               transform: translateZ(0) rotateY(0);
           }
       }
   }
@mixin slit-out-vertical {
  animation: slit-out-vertical 0.5s ease-in-out forwards;

  @keyframes slit-out-vertical {
    0% {
      transform: translateZ(0) rotateY(0);
    }
    50% {
      transform: translateZ(-160px) rotateY(-87deg);
      opacity: 1;
    }
    100% {
      transform: translateZ(-800px) rotateY(-90deg);
      opacity: 0;
    }
  }
}
   /* animation fleches projet : rebond */
   @mixin bounce-arrow-right {
       animation: bounce-right 1s ease 0s  infinite normal forwards;

       @keyframes bounce-right {
        0% {
            animation-timing-function: ease-in-out;
               opacity: 1;
               transform: translateX(-10px);
        }
        50% {
            animation-timing-function: ease-in-out;
               opacity: 1;
               transform: translateX(0px);
        }
        100% {
             animation-timing-function: ease-in-out;
               opacity: 1;
               transform: translateX(-10px);
        }
    
       }
   }

      @mixin bounce-arrow-down {
       animation: bounce-down 1s ease 0.5s infinite normal forwards;

       @keyframes bounce-down {
        0% {
            animation-timing-function: ease-in-out;
               opacity: 1;
               transform: translateY(0px);
        }
        50% {
            animation-timing-function: ease-in-out;
               opacity: 1;
               transform: translateY(-10px);
        }
        100% {
             animation-timing-function: ease-in-out;
               opacity: 1;
               transform: translateY(0px);
        }
       }
   }


   /* animation fade in bottom des blocs texte */
   @mixin fade-in {
       animation: fadeIn 2s ease 0s 1 normal forwards;

       @keyframes fadeIn {
           0% {
               opacity: 0;
               transform: translateY(50px);
           }

           100% {
               opacity: 1;
               transform: translateY(0);
           }
       }
   }