.projets {
    width: 100%;
    height: auto;
    background-color: #f0f0f0;

    @media screen and (max-width: 767px) {
        padding-bottom: 4em;

    }

    .container {
        align-items: center;
        padding: 4em 0;
        gap: 80px;

        @media screen and (max-width: 767px) {
            padding: 4em 0;
            gap: 30px;
        }

        .bloc-titre {
            @include blocTitre(250px, 250px);
            align-self: center;

            &.visible {
                @include bloc-titre-anim;

            }

            @media screen and (max-width: 768px) {
                width: 150px;
                height: 150px;
            }


        }

        /* inclusion bloc de text avec une largeur des texts de 90% */
        .bloc-text {
            @include bloc-text (100%);

            &.visible {
                @include fade-in;

            }
        }}

    .btn{
        @include btn-secondaire;
         @media screen and (max-width: 767px){
            margin-top: 6em;
         }
    }
    }