@import 'mixins/mixins';

.profil {
    width: 100%;
    height: auto;
    position: relative;

    .container {
        .content {
            width: 100%;
            height: 100%;
            z-index: 2;
            display: flex;
            /* flex-wrap: wrap; */
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 60px;
            margin: 3.5em 0 8em 0;


            @media screen and (max-width: 768px) {
                margin: 2em 0 4em 0;
            }

            .bloc-titre {
                @include blocTitre(250px, 250px);
                align-self: flex-start;
               
                &.visible {
                    @include bloc-titre-anim;

                }

                @media screen and (max-width: 768px) {
                    width: 150px;
                    height: 150px;
                    align-self: center;
                }

                @media screen and (min-width: 769px) and (max-width: 1280px) {
                    align-self: center;
                }

            }

            /* inclusion bloc de text avec une largeur des texts de 90% */
            .bloc-text {
                @include bloc-text (90%);
             

                &.visible {
                    @include fade-in;

                }
            }

            .fa-quote-left {
                align-self: flex-start; // Alignez la première icône à gauche
                position: absolute;
                top: -40px;

            }

            .fa-quote-right {
                align-self: flex-end; // Alignez la dernière icône à droit
                position: absolute;
                bottom: -35px;

            }

            .fa-quote-left,
            .fa-quote-right {
                font-size: 2em;

                @media screen and (max-width: 768px),
                screen and (min-width: 768px) and (max-width: 1280px) {
                    font-size: 2em;
                }
            }
        }

        /* animation explosion fleche */
        .arrow-wrapper {
            position: absolute;
            bottom: -20px;
            margin-bottom: 50px;

        }

        .arrow-explose {
            position: relative;
            height: var(--arrow-height);
            width: var(--arrow-width);
            will-change: opacity, transform;
            transition: all .3s cubic-bezier(.43, .27, .36, .83);


            >.dot {
                position: absolute;
                bottom: 0;
                left: calc(var(--dot-size) * 2);
                height: var(--dot-size);
                width: var(--dot-size);
                will-change: transform;
                transition: transform .5s cubic-bezier(.43, .27, .36, .83);

                &:after {
                    content: '';
                    position: absolute;
                    top: 20%;
                    left: 20%;
                    display: block;
                    height: 60%;
                    width: 60%;
                    background: #252525;
                }

                &.center {
                    &:nth-of-type(1) {
                        bottom: 0;
                    }

                    &:nth-of-type(2) {
                        bottom: var(--dot-size);
                    }

                    &:nth-of-type(3) {
                        bottom: calc(var(--dot-size) * 2);
                    }

                    &:nth-of-type(4) {
                        bottom: calc(var(--dot-size) * 3);
                    }

                    &:nth-of-type(5) {
                        bottom: calc(var(--dot-size) * 4);
                    }

                    &:nth-of-type(6) {
                        bottom: calc(var(--dot-size) * 5);
                    }
                }

                &.left-1 {
                    bottom: calc(var(--dot-size) * 1);
                    left: calc(var(--dot-size) * 1);
                }

                &.left-2 {
                    bottom: calc(var(--dot-size) * 2);
                    left: 0;
                }

                &.right-1 {
                    bottom: calc(var(--dot-size) * 1);
                    left: calc(var(--dot-size) * 3);
                }

                &.right-2 {
                    bottom: calc(var(--dot-size) * 2);
                    left: calc(var(--dot-size) * 4);
                }
            }

            &.hidden {
                opacity: 0;
                transform: translateY(calc(var(--dot-size) * -2));

                >.dot {
                    &:nth-of-type(1) {
                        transform:
                            translateX(calc(var(--dot-size) * 1)) translateY(calc(var(--dot-size) * 1));
                    }

                    &:nth-of-type(2) {
                        transform:
                            translateX(calc(var(--dot-size) * -1)) translateY(calc(var(--dot-size) * -3));
                    }

                    &:nth-of-type(3) {
                        transform:
                            translateX(calc(var(--dot-size) * -2)) translateY(calc(var(--dot-size) * 1));
                    }

                    &:nth-of-type(4) {
                        transform:
                            translateX(calc(var(--dot-size) * 2)) translateY(calc(var(--dot-size) * -3));
                    }

                    &:nth-of-type(5) {
                        transform:
                            translateX(calc(var(--dot-size) * -2)) translateY(calc(var(--dot-size) * -3));
                    }

                    &:nth-of-type(6) {
                        transform:
                            translateX(calc(var(--dot-size) * 3)) translateY(calc(var(--dot-size) * 1));
                    }

                    &:nth-of-type(7) {
                        transform:
                            translateX(calc(var(--dot-size) * -2)) translateY(calc(var(--dot-size) * -2));
                    }

                    &:nth-of-type(8) {
                        transform:
                            translateX(calc(var(--dot-size) * 2)) translateY(calc(var(--dot-size) * -1));
                    }

                    &:nth-of-type(9) {
                        transform:
                            translateX(calc(var(--dot-size) * 1)) translateY(calc(var(--dot-size) * 1));
                    }

                    &:nth-of-type(10) {
                        transform:
                            translateX(calc(var(--dot-size) * -1)) translateY(calc(var(--dot-size) * -3));
                    }
                }
            }
        }
    }
}